<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Photo Sharing App</title>
    <!-- The title of the page, which appears in the browser tab. -->
  </head>
  <body>
    {% if success_message %}
    <h1>{{ success_message }}, {{ user.first_name }}!</h1>
    <p>Feel free to upload some epic photos today :)</p>
    <a href="/logout">Logout</a> |
    <a href="/user_info"> View your profile</a> |

    {% else %}
    <h1>Welcome to the Photo Sharing App</h1>
    <p>Join our community and start sharing your photos today.</p>
    <a href="/login">Login</a> |
    <a href="/register">Register Now</a> |
    {% endif %}

    <a href="/users">View other users</a> | 
    <a href="/top_ten_users">View our top users</a> |
    <a href="{% url 'comments_search' %}">Looking for a comment?</a> |
    <a href = "/you_may_also_like">You may also like</a>
    <!-- A link to a page that displays a list of current users. Useful for new or existing users to explore the community. -->
  </body>
</html>
