<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Album: {{ album.album_name }}</title>
</head>
<body>
    <header>
        <h1>View Album: {{ album.album_name }}</h1>
        <p><strong>Date Created:</strong> {{ album.date_of_creation }}</p>
        <p><strong>Owner:</strong> {{ album.user }}</p>
    </header>

    <main>
        <section>
            <h2>Photos</h2>
            {% for photo in photos %}
                <article>
                    <img src="{{ photo.photo_data }}" alt="Photo" style="width:100%; max-width: 300px; height: auto;">
                    <h3>{{ photo.caption }}</h3>
                    <a href="/like_photo/{{ photo.photo_id }}/">Like</a> |
                    <a href="/view_likes/{{ photo.photo_id }}">{{ photo.total_likes }} Likes</a>

                    <section>
                        <h4>Comments</h4>
                        {% for comment in comments %}
                            {% if comment.photo_id == photo.photo_id %}
                                <p>{{ comment.comment_text }} - <strong>{% if comment.user_id %}
                                    {{ comment.user.first_name }}
                                    {% else %}
                                    Anonymous
                                    {% endif %}
                                </strong></p>
                            {% endif %}
                        {% endfor %}
                        <form method="post" action="/comment/add_comment_to_photo/{{ photo.photo_id }}/">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Add a new comment</button>
                        </form>
                    </section>
                </article>
            {% endfor %}
        </section>
    </main>

    <footer>
    </br>
        <a href="/">Back to home</a>
    </footer>
</body>
</html>
