<!DOCTYPE html>
<html>
<head>
    <title>View Album</title>
</head>
<body>
    <h1>View Album</h1>
    <p>Name: {{ album.album_name }}</p>
    <p>Date: {{ album.date_of_creation }}</p>
    <p>Owner: {{ album.user }}</p>
    <p>Photos:</p>
            {% for photo_tag_map in photo_tag_maps %}
        </br>
                <img src="{{ photo_tag_map.photo.photo_data }}" alt="Photo">
                <p><b>{{ photo_tag_map.photo.caption }}</b></p>

                {% for tag in photo_tag_map.tags %}
                <b>Tags:</b>
                    <a href = '#'>{{tag.description}}</a> </br>
                {% endfor %} </br>
    
   
                <a href="{% url 'delete_photo' photo_tag_map.photo.photo_id %}">Delete Photo</a> </br>
            {% endfor %}
        

    <!--Option to upload photos to the album with option to add caption-->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    </br>
        <input type="file" name="photo">
        <button type="submit">Upload Photo</button> </br> </br>
        <textarea name="caption" placeholder="Add a caption"></textarea>
        <textarea name="tags" placeholder="Add tags"></textarea>
    </form>
</br>

    <a href="/">Back to Home</a>

    
</html>