<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends | Photo Sharing App</title>
  </head>
  <body>
    <h1>My friends:</h1>
    <div>
      {% for friend in friends %}
      <div>
        <!-- Display the friend's first and last name -->
        <h2>{{ friend.user_b.first_name }} {{ friend.user_b.last_name }}</h2>
        <!-- Display the user's email address -->
        <p>Email: {{ friend.user_b.email }}</p>

        <!-- Conditional to check if the user has a photo -->
        {% if friend.user_b.photo_src %}
        <!-- If a photo is available, display it with a fixed height of 100 pixels -->
        <img
          src="{{ user.photo_src }}"
          alt="User Photo"
          style="height: 100px"
        />
        {% else %}
        <!-- If no photo is available, display a message indicating so -->
        <p>No photo provided.</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <a href="search">Add New Friend</a>
  </body>
</html>
